* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


#canvas {
    border: 2px solid black;
}

body, html{
    background: hsla(227, 65%, 83%, 1);
    background: linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    background: -moz-linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    background: -webkit-linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B9C5F0", endColorstr="#C2F2C4", GradientType=1 );
}

#imageForm{
    width: 50%;
    text-align: center;
    margin: auto;
}

h4{
    font-weight: bold
}

#lauEngineering{
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 10px;
    height: 200px;
    width: 200px
}

svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
}


#drawLink{
    font-size: 26px
}

input[type="text"]{
  width: 30px;
}

.sketch{

    top: 50%;
}

table{
    float: right
}


img{
    height: 200px;
    width: 200px
}

table{
    float: right;
    width: 30%
}

.input{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%
}

#weights{
    float: bottom
}

.pchild{
    width:80px;
}