notes.txt
__pycache__
EnglishHandwrittenCharacters
english.csv
env
TestingCode.py
Img
BoundingRectangleImages
ProcessedImages
BoundingBoxes
SquaredWithNoWhiteAdded
SquaredWithWhiteAdded
FeaturesWithNoWhite.csv
FeaturesWithWhite.csv