<!DOCTYPE html>
<html>
    <head>
        <title>Python Flask Upload and display image</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="mainContainer">
        <div class="welcomeMessage">
        <h1>Welcome to my home</h1>
    </div>

    <div class="sketch">
        <canvas id="canvas"></canvas>
        <script src="{{url_for('static', filename='js/canvas.js')}}"></script>
    </div>
    <button id="button">Click me</button>

    <div class="container">
        <div class="row">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </p>

            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input id="imageForm" type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
            </form>
            {% if outputLetter %}
                <div>
                    <p>{{ outputLetter }}</p>
                </div>
            {% endif %}
        </div>
        </div>
    </div>
</body>
</html>